#hero-text {
    font-size: 20px;
    letter-spacing: 2.5px;
    
    @media (min-width: 360px) {
        font-size: 5.556vw;
    }
    @media (min-width: 490px) {
        font-size: 30px;
    }
    @media (min-width: 768px) {
        font-size: 35px;
    }
    @media (min-width: 1024px) {
        font-size: 50px;
    }
}
