/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/roboto-regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/roboto-medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/roboto-bold.woff2") format("woff2");
  font-weight: bold;
}
