/* Hexa */
@font-face {
  font-family: "Hexa";
  src: url("./font/hexa/regular.ttf") format("truetype");
  font-weight: 600;
}

/* Jeko */
@font-face {
  font-family: "Jeko";
  src: url("./font/jeko/Jeko-Regular.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Jeko";
  src: url("./font/jeko/Jeko-Bold.ttf") format("truetype");
  font-weight: 700;
}